
*.swp

src/caca

src/caca.hi

src/caca.o

src/ass.hi

src/ass

*.o

src/cagada

src/cagada.hi

*.swo

*.hi

src/asshole

src/asshole1

src/asshole1.hs

src/quemamada

src/caca_segment

src/shit

*.prof

src/adios

src/shit1
